<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="OpenAI_API_Key" value="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" />
	</appSettings>
</configuration>
